<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UWOLMaps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UWOLMaps.Properties.Settings>
            <setting name="VersionPorDefecto" serializeAs="String">
                <value>ZX</value>
            </setting>
            <setting name="ColorRejilla" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MostrarSplash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MostrarRejilla" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MostrarDesplazamientos" serializeAs="String">
                <value>True</value>
            </setting>
        </UWOLMaps.Properties.Settings>
    </userSettings>
</configuration>