################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PC/.vs
/PC/bin/stderr.txt
/PC/bin/stdout.txt
/PC/bin/UWOL.exe - Acceso directo.lnk
/PC/bin/UWOL.ilk
/PC/bin/UWOL.log
/PC/bin/UWOL.pdb
/PC/obj
/PC/UWOL.sdf
/PC/ext/freeglut
/PC/ext/glew-1.13.0
/PC/ext/glm
/PC/ext/SDL2_image-2.0.1
/PC/ext/SDL2_mixer-2.0.1
/PC/ext/SDL2-2.0.4